<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Map and auth</title>
</head>

<body>

    <% if(user.isAuthenticated) { %>
        <div style="display: none;" id="hidden-data">
        <% for (const [key, value] of Object.entries(loggedUsersData)) { %>
            <div data-username="<%= value.name %>" data-logtime="<%= value.logtime %>" data-latitude="<%= value.latitude %>" data-longitude="<%= value.longitude %>"></div>
        <% } %>
        </div>

        <div style="display: none;" id="hidden-user-data" data-username="<%= user.name %>" data-callback="<%= urlcallback %>"></div>
    <% } %>

    <header class="header">
        <h1 class="index-title">Welcome to Maps!</h1>
    </header>

    <div class="toolbar">
        <% if(!user.isAuthenticated) { %>
            <a class="btn btn-info" href="/login">Log in</a>
        <% } else { %>
            <a class="btn btn-info" href="/logout">Logout</a>
        <% } %>
    </div>

    <div class="map-holder">
        <div id="map"></div>
    </div>

    <div class="info-holder">
        <p id="status">Latitude and longitude display</p>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/maps.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script>
        geoFindMe();
    </script>    

</body>

</html>