body {
    background-color: #1f2833 !important;
}

.header {
    margin: 5vh auto 0px;
    min-width: 20vw;
    text-align: center;
}

.index-title {
    color: #66FCF1;
    font-size: 80px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    right: 5px;
    top: 40vh;
    margin: 5px;
    width: 100px;
    height: 15vh;
}

.map-holder {
    margin: 30px auto 0px;
    width: 50vw;
    border: 1px solid #66FCF1;
}

#map {
    height: 60vh; 
    width: 50vw;
}

.info-holder {
    text-align: center;
    padding-top: 4px;
    width: 40vw;
    height: 5vh;
    color:#66FCF1;
    margin: 5px auto 0px;
    border: 1px solid #66FCF1;
    border-radius: 10px;
}